<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body class="login">
    <div class="ui center aligned grid" style="margin-top: 200px">
        <div class="ui six wide column">
            <div class="ui segment">
                <div class="ui content">
    <form class="ui large form" method="post" action="{%url 'score:register'%}">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <input type="text" name="username" placeholder="请输入用户名">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <input type="password" name="password" placeholder="请输入密码">
          </div>
        </div>
        {{ error }}<br>
        <button class="ui fluid large teal button" type="submit">注册</button>
      </div>

      <div class="ui error message"></div>
    </form>

                </div>
            </div>
        </div>
    </div>
</body>
</html>
